{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-5">
        <div class="card shadow-sm mt-5">
            <div class="card-body p-4">
                <h3 class="card-title text-center mb-4">會員登入</h3>
                <form action="{{ url_for('auth.login') }}" method="POST">
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" name="email" required>
                    </div>
                    <div class="mb-4">
                        <label for="password" class="form-label">密碼</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                    <div class="d-grid mb-3">
                        <button type="submit" class="btn btn-success">登入</button>
                    </div>
                </form>
                <div class="text-center">
                    <a href="{{ url_for('auth.register') }}" class="text-decoration-none">還沒有帳號？前往註冊</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
